*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --blue:#7030cc;
    --white:#ffffff;
    --primary_color:#1bbcef;
}
body{
    font-family: "oswald" , sans-serif;
    font-weight: 400;
}
.top_header{
    background-image: linear-gradient(to right , var(--blue) ,var(--blue));
    /* height: 80vh; */
}
.navbar_container{
    display: flex;
    align-items: center;
}
.logo_box{
   flex: 1 3 100%;
   margin-top: 20px;
   margin-left: 20px;
}
.menu{
   flex: 2 1 100%; 
}
.menu_list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.list_item{
    font-size: 22px;
    color: var(--white);
}
.list_item:hover{
    color: var(--primary_color);
    border-bottom: 1px solid var(--primary_color);
}
.list_btn{
    background-color: var(--primary_color);
    padding: 5px 15px;
}
.list_btn:hover{
    color: var(--white);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left_container{
    flex: 1 1 100%;
    margin-left: 10px;
}
.main_heading{
    font-size: 50px;
    color: var(--white);
    letter-spacing: 5px;
}
.sub_para{
    color: var(--white);
    letter-spacing: 2px;
    margin-top: 10px;
}
.right_container_img{
    flex: 1 1 100%;
    background-image: url(./images/30495\ [Converted]-01\(1\).svg);
    height: 65vh;
    width: 40vw;
    background-repeat: no-repeat;
}


.main_part{
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.left_side_image{
    flex: 1 1 100%;
    background-image: url(./images/Saas\ illustration-img2.svg);
    height:100vh;
    width:30vw;
    background-size: cover;
}
.right_side_text{
    margin: 0 auto;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_right_side{
    font-size: 36px;
}
.main_text_{
    font-size: 24px;
    margin-top: 30px;
}
.sub_text{
    margin-top: 10px;
    letter-spacing: 1px;
}
.heading3{
    margin-top: 90px;
    text-align: center;
    letter-spacing: 1px;
}
.cards{
    display: flex;
    flex-direction: row;
}
.card{
    height: 100%;
    width: 230px;
    box-shadow: 1px 1px 3px 4px;
    display: inline-block;
    margin-right: 50px;
}
.card_logo {
    background-color: #faeaeb;
    padding: 25px;
    border-radius: 50px;
    width: 90%;
    margin: 0 auto;
}
.about_card{
    padding:30px;
    text-align: center;
    font-size: 30px;
    background-color: var(--blue);
    border-radius: 50px;
    
}
.about_card_sub{
    font-size: 16px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* MEDIA QUERIES */

@media all and (max-width:500px){
    .navbar_container{
        display: flex;
        flex-direction: column;
    }
    .menu{
        height: 100px;
    }
    .menu_list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
    }
    .list_item{
        flex: 1 1 25%;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .left_container .main_heading{
        font-size: 35px;
    }
    .right_container_img{
        order: -1;
        width: 60vh;
    }
    .main_part{
        min-height: 140vh;
        flex-direction: column;
    }
    .left_side_image{
    width: 35vh;
    }
    .heading3{
    margin-top: -200px;
    }
    .cards{
        flex-direction: column;
        gap: 50px;
    }
  
}

@media all and (max-width:850px){
    .container{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    .left_container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .right_container_img{
        order: -1;
        width: 60vh;
    }
    .left_side_image{
    height: 60vh;
    }
    .cards{
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 35px;
        /* flex: 1 1 100%; */
    }
  
}
